* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    width: 1440px;
    padding: 50px;

}

.container {
    width: 350px;
    height: 596px;
    border-radius: 15px;
    background-color: hsl(216, 50%, 16%);
    margin: 0 auto;
    padding: 24px 24px 32px 24px;
}

.nft__pic {
    width: 302px;
    height: 302px;
    border-radius: 10px;
}

.nft__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: white;
}

.nft__descrp {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #8BACD9;
    margin-bottom: 24px;
}

.nft__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.nft__price {
    color: #00FFF8;
}

.nft__days {
    color: #D9D9D9;
}

.nft__line {
    margin-bottom: 16px;
    color: #2E405A;
}


.nft__author {
    color: #8BACD9;
}
.nfr__author-ava {
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

.nft__author span {
    color: white;
}